<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="pl.gers.sesemes"
      android:versionCode="7" android:versionName="1.1.4">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
<uses-permission android:name="android.permission.READ_SMS"></uses-permission>
<uses-permission android:name="android.permission.WRITE_SMS"></uses-permission>
<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7"></uses-sdk>


    <application android:icon="@drawable/icon" android:label="@string/app_name" android:killAfterRestore="false" android:allowClearUserData="true">
        <activity android:name=".Sesemes"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
              </intent-filter>
              <intent-filter>
    <action android:name="android.intent.action.SENDTO" />
    <category android:name="android.intent.category.DEFAULT" />
    <data android:scheme="sms" />
    <data android:scheme="smsto" />

            </intent-filter>
        </activity>
        <activity android:name="Ustawienia" android:exported="true"></activity>
        <activity android:name="Konto" android:exported="true"></activity>
        <activity android:name="Kontakty"></activity>

    </application>
</manifest>